<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
        <div>
            <img src="assets/img/GMAIL.ico" class="img-fluid ml-auto gb_va" alt="Responsive image" style="width:50px;height:40px">
            
          </div>
          <h1 class="rk-logo" ><a href="index.html">Gmail</a></h1>
     
      
      <!-- <form class="rk-search text-center form-inline my-2 my-lg-0 ">
        <table class="col-6">
        <input type="text" placeholder="Buscar" id="urku-search" class="rk-search form-control mr-sm-4">
        <label for="urku-search">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-search"></use>
          </svg>
        </label>
      </table>
      </form>  -->

      
      
      <nav class="rk-navigation">
        <div>
          <li>
              <a routerLink="calendar" class="rk-menu__Link">
          <!-- <img src="assets/img/calendar.ico" class="img-fluid ml-auto gb_va" alt="Responsive image" style="width:45px;height:40px"> -->
          <button type="submit"><img src="assets/img/calendar.ico" class="img-fluid ml-auto gb_va" alt="Responsive image" style="width:45px;height:40px"/></button>
              </a>
            </li>
        </div>
      </nav>
    </div>
  </header>