<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
        <div>
            <img src="assets/img/GMAIL.ico" class="img-fluid ml-auto gb_va" alt="Responsive image" style="width:50px;height:40px">
            
          </div>
          <h1 class="rk-logo" ><a href="index.html">Gmail</a></h1>
     
      
      <!-- <form class="rk-search text-center form-inline my-2 my-lg-0 ">
        <table class="col-6">
        <input type="text" placeholder="Buscar" id="urku-search" class="rk-search form-control mr-sm-4">
        <label for="urku-search">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-search"></use>
          </svg>
        </label>
      </table>
      </form>  -->

      
      
      <!-- <nav class="rk-navigation">
        <ul class="rk-menu">
          <li class="rk-menu__item"><a href="index.html" class="rk-menu__link">Home</a>
          </li>
          <li class="active rk-menu__item"><a href="portfolio.html" class="rk-menu__link">Portfolio</a>
          </li>
          <li class="rk-menu__item"><a href="blog.html" class="rk-menu__link">Blog</a>
          </li>
          <li class="rk-menu__item"><a href="contact.html" class="rk-menu__link">Contact Us</a>
          </li>
        </ul>
      </nav> -->
    </div>
  </header>