<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle ml-auto" data-toggle="dropdown">
                    Correo <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Correo</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li><a href="#">Tareas</a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-9 col-md-10">
            <!-- Split button -->
            <div class="btn-group">
                <button type="button" class="btn btn-default">
                    <div class="checkbox" style="margin: 0;">
                        <label>
                            <input type="checkbox">
                        </label>
                    </div>
                </button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span><span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Todos</a></li>
                    <li><a href="#">Ninguno</a></li>
                    <li><a href="#">Leídos</a></li>
                    <li><a href="#">No Leídos</a></li>
                    <li><a href="#">Mensajes Destacados</a></li>
                    <li><a href="#">Mensajes no Destacados</a></li>
                </ul>
            </div>
            <button type="button" class="btn btn-default" data-toggle="tooltip" title="Refresh">
                   <span class="glyphicon glyphicon-refresh"></span>   </button>
            <!-- Single button -->
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                   Más... <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Marcar todos los leídos</a></li>
                    <li class="divider"></li>
                    <li class="text-center"><small class="text-muted">Seleccione mensajes para más acciones.</small></li>
                </ul>
            </div>
            <div class="pull-right">
                <span class="text-muted"><b>1</b>–<b>1</b> of <b>19</b></span>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-3 col-md-2">
            <a href="#" class="btn-sm btn-block btn-grad" role="button">Redactar</a>
            <hr />
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#"><span class="badge pull-right">42</span> Mensajería </a>
                </li>
                <li><a href="http://www.jquery2dotnet.com">Mensajes Destacados</a></li>
                <li><a href="http://www.jquery2dotnet.com">Importantes</a></li>
                <li><a href="http://www.jquery2dotnet.com">Envíar Correo</a></li>
                <li><a href="http://www.jquery2dotnet.com"><span class="badge pull-right " style="background-color:#FA291E;">3</span>Borradores</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-inbox " >
                </span> Principal</a></li>
                <li><a href="#profile" data-toggle="tab"><span class="glyphicon glyphicon-user">
                </span> Social</a></li>
                <li><a href="#messages" data-toggle="tab"><span class="glyphicon glyphicon-tags">
                </span> Promociones</a></li>
                <li><a href="#settings" data-toggle="tab"><span class="glyphicon glyphicon-plus no-margin">
                </span></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                            <span class="glyphicon glyphicon-star-empty"></span><span class="name" style="min-width: 120px;
                                display: inline-block;">Linda Salazar</span> <span class="">Consulta de Trabajo</span>
                            <span class="text-muted" style="font-size: 11px;">- Hola Jorge, quería referirme a ti...</span> <span
                                class="badge">08:10 AM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
                                </span></span></a><a href="#" class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <span class="glyphicon glyphicon-star-empty"></span><span class="name" style="min-width: 120px;
                                        display: inline-block;">Mauricio Avilés</span> <span class="">Curriculum Vitae</span>
                                    <span class="text-muted" style="font-size: 11px;">- Envío mi Curriculum esperando que mis....</span> <span
                                        class="badge">08:55 AM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
                                        </span></span></a><a href="#" class="list-group-item read">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">
                                                </label>
                                            </div>
                                            <span class="glyphicon glyphicon-star"></span><span class="name" style="min-width: 120px;
                                                display: inline-block;">Bhaumik Patel</span> <span class="">Titulo Grande del Libro</span>
                                            <span class="text-muted" style="font-size: 11px;">- Hola Jorge, te envíe la parte del ....?</span> <span
                                                class="badge">09:56 AM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
                                                </span></span></a>
                 
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>
                            <span class="glyphicon glyphicon-star-empty"></span><span class="name" style="min-width: 120px;
                                display: inline-block;">Abigail Lopez</span> <span class="">Amor</span>
                            <span class="text-muted" style="font-size: 11px;">- Te necesito Jorge!!!</span> <span
                                class="badge">10:30 AM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
                                </span></span></a><a href="#" class="list-group-item">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">
                                        </label>
                                    </div>
                                    <span class="glyphicon glyphicon-star-empty"></span><span class="name" style="min-width: 120px;
                                        display: inline-block;">Kevin Otoniel</span> <span class="">Trabajo #3</span>
                                    <span class="text-muted" style="font-size: 11px;">- Necesitamos de tu ayuda Jorge</span> <span
                                        class="badge">12:10 PM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
                                        </span></span></a><a href="#" class="list-group-item read">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">
                                                </label>
                                            </div>
                                            <span class="glyphicon glyphicon-star"></span><span class="name" style="min-width: 120px;
                                                display: inline-block;">Jose Miguel</span> <span class="">Envío de Dinero</span>
                                            <span class="text-muted" style="font-size: 11px;">- Jorge te deposité $2000 a tu cuenta</span> <span
                                                class="badge">12:50 PM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
                                                </span></span></a>
                                                <div class="list-group">
                                                    <a href="#" class="list-group-item">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                            </label>
                                                        </div>
                                                        <span class="glyphicon glyphicon-star-empty"></span><span class="name" style="min-width: 120px;
                                                            display: inline-block;">Carlos Narvaez</span> <span class="">Búsqueda de Empleo</span>
                                                        <span class="text-muted" style="font-size: 11px;">- Jorge, me ayudas a conseguir tra....</span> <span
                                                            class="badge">01:10 PM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
                                                            </span></span></a><a href="#" class="list-group-item">
                                                                <div class="checkbox">
                                                                    <label>
                                                                        <input type="checkbox">
                                                                    </label>
                                                                </div>
                                                                <span class="glyphicon glyphicon-star-empty"></span><span class="name" style="min-width: 120px;
                                                                    display: inline-block;">Alfredo Pellas</span> <span class="">Consulta de Dinero</span>
                                                                <span class="text-muted" style="font-size: 11px;">- Hola Jorge y Erling, queria consultarles....</span> <span
                                                                    class="badge">02:55 PM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
                                                                    </span></span></a><a href="#" class="list-group-item read">
                                                                        <div class="checkbox">
                                                                            <label>
                                                                                <input type="checkbox">
                                                                            </label>
                                                                        </div>
                                                                        <span class="glyphicon glyphicon-star"></span><span class="name" style="min-width: 120px;
                                                                            display: inline-block;">Mirna Figueroa</span> <span class="">Los Quiero!</span>
                                                                        <span class="text-muted" style="font-size: 11px;">- Muchachos, Dios les bendiga....!</span> <span
                                                                            class="badge">03:55 PM</span> <span class="pull-right"><span class="glyphicon glyphicon-paperclip">
                                                                            </span></span></a>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="profile">
                                    <div class="list-group">
                                        <div class="list-group-item">
                                            <span class="text-center">Esta pestaña está vacía.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade in" id="messages">
                                    ...</div>
                                <div class="tab-pane fade in" id="settings">
                                    Esta pestaña está vacía.</div>
                            </div>
                            <!-- Ad -->
                            <div class="row-md-12">
                                <div class="ad">
                                    <a href="http://www.jquery2dotnet.com" class="title">GMAIL</a>
                                    <div>
                                        Correo Eléctronico</div>
                                    <a href="http://www.jquery2dotnet.com" class="url">www.Gmail.com</a>
                                </div>
                            </div>
        </div>
    </div>
</div>