<footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
        <ul class="rk-menu rk-footer-menu">
         
        </ul>
        <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">2015 GMAIL </span>All Right Reserved.</p>
      </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center">
          
          </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
        <p class="rk-footer__text rk-footer__contact ">
            <span class="ae-u-bold">Correo: </span><span class="ae-u-bolder"> 
                <a href="#0" class="rk-dark-color ">Unknown@gmail.com </a>
            </span>
        </p>
      </div>
    </div>
  </footer>